@model IEnumerable<PsikoterapsitlerBurada.Models.Question>
@{
    ViewBag.Title = "GetMyQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorulan Sorular</h2>

<div class="container">
    <div class="row">
        <table class="table-bordered">
            <tr>
                <th>Soru</th>
                <th>Kimlere Sordun</th>
            </tr>
            @foreach (var question in Model)
            {
                <tr>
                    <td>
                        @question.QuestionText
                    </td> 
                    <td>
                        @foreach (var user in question.AskedToWhom)
                        {
                            <span>@user.UserName</span>
                        }
                    </td>
                </tr>
            }
        </table>
       </div>
</div>

