body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*Override bootstrap behavior where site color consept is define*/

.navbar-inverse {
    background-color: #B5F536;
    border-color: #91D900;
}

    .navbar-inverse .navbar-brand {
        color: #1B2506;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #2B3712;
    }
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #7E8C61;
        }

    .navbar-inverse .navbar-brand:hover {
        color: #7E8C61;
    }

.panel-success > .panel-heading {
    color: #fff;
    background-color: #260D3A;
    border-color: #d6e9c6;
}

a {
    color: #A48E05
}

    /*Set home page question text*/
    a.question-text {
        margin: auto
    }

a.question-text:hover {
    cursor: pointer;
    color: darkcyan;
    text-decoration: none
}

.who-asked {
    color: #56540F;
    margin-bottom: 5px;
}

.favorite {
    margin-top: 5px;
}

.favorite > span {
    cursor: pointer;
    font-size: 20px;
}

.favorite > span:hover {
    color: goldenrod;
}

/*Set Answers Page*/
.vote-counter {
    margin-top:10px
}

table.questions .glyphicon-chevron-up:hover, table.questions .glyphicon-chevron-down:hover {
    font-size: 20px;
    color: darkgoldenrod;
    cursor: pointer
}

div.rating {
    margin-top: 15px;
}

p.rating {
    margin-bottom: 0px;
    font-size: 18px
}

.tag {
    background-color: #67497D;
    padding: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    color: aliceblue;
}

i.like:hover {
    cursor: pointer;
    color:deeppink
}

div.like {
    margin-bottom: 10px;
}


/*Selected User Page*/

