@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="media">
        <div class="media-left pull-left">
            <span class="glyphicon glyphicon-chevron-up"></span>
            <p class="vote-counter text-center">0</p>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
        <div class="media-body">

            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>
    </div>
</div>
