@model IEnumerable<PsikoterapsitlerBurada.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<h4>Sorular</h4>

@foreach (var question in Model)
{
    <div class="jumbotron">
        <table class="table-condensed questions">
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="vote">
                                <div class="text-center">
                                    <span 
                                        class="glyphicon glyphicon-chevron-up vote-up" 
                                          data-question-id = @question.Id></span>
                                </div>
                                <div class="text-center">
                                    <span class="vote-counter">@question.Votes.Count</span>
                                </div>
                                <div class="text-center">
                                    <span class="glyphicon glyphicon-chevron-down vote-down"></span>
                                </div>
                            </div>
                            <div class="text-center">
                                <h4 class="">0</h4>
                                <span class="label label-default">Cevap</span>
                            </div>
                            </div>
                    </div>
                </td>
                <td class="question-text">
                        <div class="question-text">
                            <p class="question-text">@question.QuestionText
                            </p>
                        </div>
                        <small class="who-asked pull-right">@question.WhoAsked.UserName</small>
                </td>
            </tr>
        </table>  
    </div>
}

@section scripts{
    <script>
        $(document).ready(function() {
            $(".vote-up").click(function(e) {
                var questionId = $(e.target).attr("data-question-id");
                $.post("api/vote/" + questionId)
                    .done(console.log("Succsess Vote-up"))
                    .fail(function() {
                        alert("Opps, Bir şeyler ters gitti.");
                    });
            });
        })

    </script>


}


