
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<div class="row">
<div class="col-lg-6">
    <div class="input-group">
        <input type="search" class="form-control search" placeholder="Ara...">
        <span class="input-group-btn">
            <button class="btn btn-default search" type="button">Ara</button>
        </span>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->


@section scripts{
    <script>
        $(document).ready(function() {
            $("button.search").click(function() {
                var text = $("input.search").val();
                $.getJSON("/api/getusers")
            });
        });
    </script>
}

