@model PsikoterapsitlerBurada.Models.ViewModels.AnswerViewModel
@{
    ViewBag.Title = "WriteAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WriteAnswer</h2>

<div class="pabel panel-success">
    <div class="panel-heading">
        <span class="who-asked">Bu soruyı soran - <em>@Model.Question.WhoAsked.UserName</em></span>
    </div>
    <div class="panel-body">@Model.Question.QuestionText</div>
</div>

<hr />
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                @Html.TextAreaFor(m => m.Answer,
                    new
                    {
                        placeholder = "Cevabınız...",
                        @class = "form-control input-lg js-answer-text",
                        rows = 8
                    })
            </div> 
        </div>
    </div>
</form>
<button class="btn btn-primary js-send-button" id="@Model.Question.Id">Gönder</button>


@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-send-button").click(function(e) {
                var questionId = e.target.id;
                var answerDto = {
                    QuestionId: questionId,
                    AnswerText: $(".js-answer-text").val()
            }
                $.post("/api/answer", answerDto)
                    .success(function () {
                        bootbox.alert({
                            size: "small",
                            title: "Tebrikler",
                            message: "Cevabınız yolda",
                            callback: function() {
                                $(".js-answer-text").val("");
                                window.location.href = "/User/GetQustionAskedToMe";
                            }
                        });
                    });
            });
        });
    </script>
}
